{% extends "base.html" %}

{% block content %}
    <h1> {{nks.name.0}} </h1>
    <b>Kind: </b>{{nks.kind.0}}<br />
    <b> Summary: </b> {{nks.summary.0}}<br /> 
    <b>Date: </b>{{date}}<br />
    <b>Time: </b>{{time}}<br />


    <h5><strong>Locations:</strong></h5>
    <ul>
    	{% for elem in details.LOCATIONS %}
        <li>
            {{elem.1}}
        </li>
        {% endfor %}
    </ul>

    <h5><strong>Human Impact</strong></h5>
    <ul>
    	{% for elem in details.HUMANIMPACT %}
        <li>
            {{elem.1}}
        </li>
        {% endfor %}
    </ul>
    <h5><strong>Economic Impact:</strong></h5>
    <ul>
    	{% for elem in details.ECONOMICIMPACT %}
        <li>
	{% if elem.0 == 'None' or elem.0 == '' or elem.0 == None %}
	   {{elem.1}}
        {% else %}
           <a href="{{elem.0}}"> {{elem.1}} </a>
        {% endif %}		
        
        </li>
        {% endfor %}
    </ul>
    <h5><strong>Ways to Help:</strong></h5>
    <ul>
    	{% for elem in details.WAYSTOHELP %}
        <li>
	       {% if elem.0 == 'None' or elem.0 == '' %}
	       {{elem.1}}
        {% else %}
           <a href="{{elem.0}}"> {{elem.1}} </a>
        {% endif %}		
        </li>
        {% endfor %}
    </ul>
    <h5><strong>Resources Needed:</strong></h5>
    <ul>
    	{% for elem in details.RESOURCESNEEDED %}
        <li>
            {{elem.1}}
        </li>
        {% endfor %}
    </ul>

    <h5>Organisations</h5>
     <ul>
     	{% for elem in orgs %}
     	<li>	<a href="/crises/{{elem.0}}">{{elem.1}}</a></li>
     	{% endfor %}
     </ul>

	<h5>Persons</h5>
     <ul>
     	{% for elem in person %}
     	<li>	<a href="/crises/{{elem.0}}">{{elem.1}}</a></li>
     	{% endfor %}
     </ul>

    </div>

    <h3>Images</h3>
    <div class "gallery lightbox row-fluid">
            <ul class="gallery lightbox four_col clearfix">
    		    {% for elem in lists.IMAGES %}
                	<li class="letter-press vp"> <a class="hover" data-fancybox-group="portfolio"> <img src={{ elem.0 }} alt="" /></a></li>
       		    {% endfor %}
            </ul>
    </div>


    <h3>Videos</h3>
    <div class "gallery lightbox row-fluid">
            <ul class="gallery lightbox four_col clearfix">
    		    {% for elem in lists.VIDEOS %}
                	<li class="letter-press vp"> <a class="hover" data-fancybox-group="portfolio"> <iframe width="420" height="315" src={{elem.0}} frameborder="0" allowfullscreen></iframe></a></li>

       		    {% endfor %}
            </ul>
    </div>

         <h3>Map</h3>
    <div class "gallery lightbox row-fluid">
            <ul class="gallery lightbox four_col clearfix">
            {% for elem in lists.MAPS %}
                  <li class="letter-press vp"> <a class="hover" data-fancybox-group="portfolio"> <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src={{elem.0}}></iframe></a></li>

   <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{lists.MAPS.0.0}}"></iframe> 
 
               {% endfor %}
               
            </ul>
    </div>
    <h3>Feeds</h3>
    <ul>
    	{% for elem in lists.FEEDS %}
            <li>
            <a href={{elem.0}}>Feed</a>
        </li>
        {% endfor %}
    </ul>

    <h3>External Links</h3>
    <ul>
    	{% for elem in lists.EXTERNALLINKS %}
        <li>
            <a href={{elem.0}}>{{elem.1}}</a>
        </li>
        {% endfor %}
    </ul>

        <h3>Citations</h3>
    <ul>
    	{% for elem in lists.CITATIONS %}
        <li>
            <a href={{elem.0}}>{{elem.1}}</a>
        </li>
        {% endfor %}
    </ul>

   
{% endblock %}

