<!-- Meta Data ================ -->
<meta charset="UTF-8">
<meta name="Description" content="Fill this in with your information">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- CSS ================ -->
<link rel="stylesheet" href="https://harbor.sailpoint.com/resources/statics/4886/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="https://harbor.sailpoint.com/resources/statics/4886/style.css" type="text/css">
<link rel="stylesheet" href="https://harbor.sailpoint.com/resources/statics/4886/header-1.css" type="text/css">
<link rel="stylesheet" href="../demo/demo.css" type="text/css" media="all">
<link rel="stylesheet" href="../demo/theme-google.css" type="text/css" media="all">


<!-- Open Graph for facebook
http://graph.facebook.com/[UserName] replace [UserName] 
with yours and get your fb:admis content information where the XXXX goes.
================================================== -->
<meta property="og:title" content="">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:site_name" content="">
<meta property="fb:admins" content="XXXXX">
<meta property="og:locale" content="en_us">
<meta property="og:description" content="  ">

<!-- JS JQuery in the head you can use ajax if you want ================ -->
<script src="https://harbor.sailpoint.com/resources/statics/4886/jquery.min.js"></script>
<script src="https://harbor.sailpoint.com/resources/statics/4886/modernizr.custom.87724.js"></script><!-- js multiple backgrounds svg background size -->


<!-- Include jQuery Syntax Highlighter -->
<script type="text/javascript" src="https://harbor.sailpoint.com/resources/statics/4886/jquery.syntaxhighlighter.min.js"></script>

<!-- Initialise jQuery Syntax Highlighter -->
<script type="text/javascript">$.SyntaxHighlighter.init();</script>
