<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>World Crises Database: Import File</title>   
    </head>
    <body>

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url import_file %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>
        <p>{{ form.password.label_tag }} {{ form.password.help_text }}</p>
        <p>
            {{ form.password.errors }}
            {{ form.password }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>
    </body>
</html> 
