<title> World Crises Database : CSw373 : Summer 2013 </title>
<body>
    <h1> Team CrisCS </h1>
    <h2>Team Members:</h2>
    <ul>
    {% for member in members %}
        <li> {{ member }} </li>
    {% endfor %}
    </ul>
    <h2> Links: </h2>
    <ul>
        <li><a href="/import/"> Import </a> </li>
        <li><a href="/export/"> Export </a> </li>
    </ul>
    <ul>
        <li><b> Crises </b></li>
        {% for elem in pages.crises %}
            <li> <a href="/crises/{{ elem.id }}/"> {{ elem.name }} </a> </li>
        {% endfor %}
    </ul>
    <br />
    <ul>
        <li><b> Organizations </b></li>
        {% for elem in pages.orgs %}
            <li> <a href="/crises/{{ elem.id }}/"> {{ elem.name }} </a> </li>
        {% endfor %}
    </ul>
    <br />
    <ul>
        <li><b> People </b></li>
        {% for elem in pages.people %}
            <li> <a href="/crises/{{ elem.id }}/"> {{ elem.name }} </a> </li>
        {% endfor %}
        </li>
    </ul>
</body>

