{% extends "base.html" %}

{% block content %}
<div id="page">
	<div class="hero-unit">
		<div class="hero-unit center no-border no-padding-bottom">
			<div class="container"> 
			<!--note the home class on the h1 tag-->
			<h1><strong>Welcome to our World Crises Page!</strong></h1>
			</div>
            <div align="center">
			<a><img src="https://harbor.sailpoint.com/resources/statics/4886/teampic2.jpg" height = "200" width="800" ></a>
        </div>
		</div>
		<!--close hero-unit--> 
		<!-- end row-fluid-->
    <h2><span>Team Members:</span></h2>
    <ul>
    {% for member in members %}
        <li> {{ member }} </li>
    {% endfor %}
    </ul>
    <h2> Links: </h2>
    <ul>
        <li><a href="/import/"> Import </a> </li>
        <li><a href="/export/"> Export </a> </li>
        <li><a href ="/unittests/">Run Unittests</a></li>
    </ul>

</ul>
</div>
<!-- slide to top close--> 
</div>
<!--close #-main content--> 
{% endblock %}

