{% extends "base.html" %}
{% block content %}
<div id="page">
	<div class="hero-unit">
		<div class="hero-unit center no-padding-bottom">
			<div class="container"> 
			<!--note the home class on the h1 tag-->
			<h1>All People</h1>
			</div>
            <div align="left">

				<ul>
				    {% for elem in pages.people %}
	           		<li> <a href="{{prod_dir}}/crises/{{ elem.id }}/"> {{ elem.name }} </a> </li>
	        	    {% endfor %}
	    		</ul>

        	</div>
		</div>
		<!--close hero-unit--> 
		<!-- end row-fluid-->
</ul>
</div>
<!-- slide to top close--> 
</div>


{% endblock %}